{% load url from future %}

<span class="favorites-add-remove">
    <a {% if is_favorite %}class="has-favorite"{% endif %} id="favorite-{{ tag_id }}" href="{% if is_favorite %}{% url "favorite_delete_for_object" app_label=app_label object_name=object_name object_id=object_id %}{% else %}{% url "favorite_add" app_label=app_label object_name=object_name object_id=object_id %}{% endif %}">
        <span class="favorites-count"></span>Fav
    </a>
    &nbsp;<span id="count-{{ tag_id }}">{{ count }}</span>
</span>
